<div class="detail-container">
    <h2 class="country-name">Name of the country</h2>
  
    <div class="statistics">
      <div class="stat">
        <p class="stat-title">Number of entries</p>
        <p class="stat-value">3</p>
      </div>
      <div class="stat">
        <p class="stat-title">Total number medals</p>
        <p class="stat-value">5</p>
      </div>
      <div class="stat">
        <p class="stat-title">Total number of athletes</p>
        <p class="stat-value">32</p>
      </div>
    </div>
  
    <div class="chart-container">
      <div class="chart-placeholder">
        <p>Chart</p>
      </div>
    </div>
  
    <p class="chart-caption">Dates</p>
  </div>
  