.medals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .statistics {
        display: flex;
        gap: 20px;
        margin-bottom: 30px; 
    }
        .chart {
        position: relative;
        margin-bottom: 20px;
    }    
}