<div class="medals-container">
    <h2 class="title">Medals per Country</h2>
    <div class="statistics">
        <div class="stat">
            <p class="stat-title">Number of JOs</p>
            <p class="stat-value">10</p>
        </div>
        <div class="stat">
            <p class="stat-title">Number of countries</p>
            <p class="stat-value">10</p>
        </div>
    </div>
    <button (click)="goToDetail()">Go to Detail Page</button>
    <div class="chart">
        <div class="pie-chart">
        </div>
    </div>
</div>